body{
    background-color: #dfe3ee;
}
.top-header{
    background-color:  	#3b5998;
    
}
.header-item{
    margin-top: 8px;
    margin-bottom: 5px;
}
.header-btn{
    background-color: transparent;
    border-style: none;
    color: white;
}
.header-text:hover, .header-text:visited, .header-text:link, .header-text:active{
    text-decoration: none;
    
}
.fb-post{
    background-color: white;
    margin:8px;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.grey-text{
    color: gray;
}
.post-content{
    margin: 5px;
}
.side-text{
    color: black;
}
.side-text:hover, .side-text:visited, .side-text:link, .side-text:active{
    text-decoration: none;
    color: black;
}

.page-section{
    margin: 8px;
    background-color: white;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.right-section-header{
    
    color: grey;
}
.list-group-item{
    border-style: none;
}
.ticker{
    height:150px;
    overflow-y:scroll;
    width:100%;
}
.ticker-field{
    height: 40px;
    margin-bottom: 5px;
    padding: 5px;
}
.text-left{
    margin-left: 70%;
}
#mobile-menu{
    float: left;
    height: 95vh;
    width: 60vh;
    opacity: .99;
    padding-top: 40%;
    padding-left: 20%;
    background-color: #dfe3ee;
}
.mobile-menu-list{
    list-style-type: none;
    opacity: inherit;
    padding: 10%;
}
.mobile-menu-item{
    padding: 5%;
    margin: 25px;
    font-size: 50;
    border-style: solid;
    border-width: thin;
}
.mobile-menu-item:hover{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
