body{
    background-color: #dfe3ee;
}
.top-header{
    background-color:  	#3b5998;
    
}
.header-item{
    margin-top: 8px;
    margin-bottom: 5px;
}
.header-btn{
    background-color: transparent;
    border-style: none;
    color: white;
}
.header-text:hover, .header-text:visited, .header-text:link, .header-text:active{
    text-decoration: none;
    
}
.fb-post{
    background-color: white;
    margin:8px;
    padding: 10px;
}
.grey-text{
    color: gray;
}
.post-content{
    border-bottom: 1px solid;
}
.side-text{
    color: black;
}
.side-text:hover, .side-text:visited, .side-text:link, .side-text:active{
    text-decoration: none;
    color: black;
}

.page-section{
    margin: 8px;
    background-color: cornsilk;
}
.right-section-header{
    margin: 10px;
    color: grey;
}
.list-group-item{
    border-style: none;
}
.ticker{
    height:300px;
    overflow-y:scroll;
    width:100%;
    background-color: aliceblue;
}